.image-wrapper {
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

.details-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background-color: rgba(0,0,0, 0.5); /* Black w/ opacity */
    animation-name: animatetop;
    animation-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.details-modal-content {
    width: 60%;
    height: auto;
    max-height: 70%;
    background-color: #222831; /* Black w/ opacity */ /* TODO: Dynamic */
    left: 20%;
    top: 15%;
    border-radius: 25px;
    padding: 10px;
    overflow: auto; /* Enable scroll if needed */
}

.text-input {
    width: 100%;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 5px;
}

.file-input {
    width: 100%;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 5px;
    color: black;
    background-color: white;
}

.save-btn {
    background-color: #00ADB5;
    color: #222831;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    margin: 15px 5px 0;
}

.cancel-btn {
    background-color: #c21e37;
    color: #ffffff;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    margin: 15px 5px 0;
}

.save-btn-disabled {
    background-color: #BBBBBB;
    color: #222831;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    margin: 15px 5px 0;
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.point-card {
    position: absolute;
    background-color: #DDDDDD;
    color: black !important;
    border-radius: 8px;
    width: fit-content;
    padding: 5px;
    text-align: center;
    margin-top: -30px;
    opacity: 0;
}

.point-card-title {
    background-color: #DDDDDD;
    color: black !important;
    border-radius: 15px;
    width: fit-content;
    text-wrap: nowrap;
}

.hotspot-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00ADB5;
    position: absolute;
}

@keyframes animatetop {
    from {opacity: 0}
    to {opacity: 1}
}