.image-wrapper {
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

.edit-dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background-color: rgba(0,0,0, 0.5); /* Black w/ opacity */
    animation-name: animateTop;
    animation-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.edit-dialog-content {
    width: 60%;
    height: auto;
    max-height: 70%;
    background-color: #222831; /* Black w/ opacity */ /* TODO: Dynamic */
    left: 20%;
    top: 15%;
    border-radius: 25px;
    padding: 10px;
    overflow: auto; /* Enable scroll if needed */
}

.detail-dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background-color: rgba(0,0,0, 0.5); /* Black w/ opacity */
    animation-name: animateTop;
    animation-duration: 0.5s;
    top: 0;
    left: 0;
}

.detail-dialog-content {
    width: 40%;
    height: 100%;
    background-color: #222831; /* Black w/ opacity */ /* TODO: Dynamic */
    padding: 20px;
    overflow: auto; /* Enable scroll if needed */
    animation-name: animateLeft;
    animation-duration: 0.5s;
    color: white;
    text-align: justify;
    position: absolute;
}

.detail-dialog-content-left {
    left: 0;
}

.detail-dialog-content-right {
    right: 0;
}

a {
    color: white!important;;
}

.text-input {
    width: 99%;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 5px;
}

.file-input {
    width: 99%;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 5px;
    color: black;
    background-color: white;
}

.save-btn {
    background-color: #00ADB5;
    color: #222831;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    margin: 15px 5px 0;
    border: none;
    cursor: pointer;
}

.cancel-btn {
    background-color: #c21e37;
    color: #ffffff;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    margin: 15px 5px 0;
    border: none;
    cursor: pointer;
}

.save-btn-disabled {
    background-color: #BBBBBB;
    color: #222831;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    margin: 15px 5px 0;
}

.detail-btn {
    background-color: #00ADB5;
    color: #222831;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.point-card {
    position: absolute;
    background-color: #DDDDDD;
    color: black !important;
    border-radius: 8px;
    width: fit-content;
    padding: 5px;
    text-align: center;
    margin-top: -30px;
    opacity: 0;
}

.point-card-title {
    background-color: #DDDDDD;
    color: black !important;
    border-radius: 15px;
    width: fit-content;
    text-wrap: nowrap;
    margin: 0;
}

.hotspot-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #00ffb9;
    transition: border-width 0.3s linear;
    background-color: rgba(0,0,40, 0.7);
    position: absolute;
    box-sizing: border-box;
}

.hotspot-circle:hover {
    border-width: 2px;
}

.hotspot-circle:hover > .hotspot-inner-circle {
    left: 11px;
    top: 11px;
    width: 14px;
    height: 14px;
}

.hotspot-inner-circle {
    width: 18px;
    height: 18px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 50%;
    position: absolute;

    /* Because of box-sizing: border-box on it's parent, border's width needs to be decreased 11 - 1 = 10 */
    left: 10px;
    top: 10px;
    transition: width 0.3s linear, height 0.3s linear, top 0.3s linear, left 0.3s linear;
}

@keyframes animateTop {
    from {opacity: 0}
    to {opacity: 1}
}

/*@keyframes animateBorder {*/
/*    0% {  border-width:1px;}*/
/*    15% {  border-width:1.2px;}*/
/*    35% {  border-width:1.4px;}*/
/*    50% {  border-width:1.6px;}*/
/*    75% {  border-width:1.8px;}*/
/*    100% {  border-width:2px;}*/
/*}*/

@keyframes animateLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


label {
    color: white;
}